<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }} | miramapas</title>
    <meta name="generator" content="Eleventy">
    <!--Meta For No Index-->
    <meta name="robots" content="noindex, Nofollow, Noimageindex">
    <link href="/assets/css/style.css" rel="stylesheet"/>

    <!--Favicon-->
    <link rel="shortcut icon" href="/assets/images/favIcon.png" type="image/x-icon"/>
    <link rel="icon" href="/assets/images/favIcon.png" type="image/x-icon"/>

    <noscript>
      <meta http-equiv="refresh" content="0; url=/es">
    </noscript>

  </head>

  <body>

    <script src="/assets/vendor/jQuery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>

    <p>
  Redirigiendo... si no pasa nada, haz clic <a href="/es">aquí</a>
    </p>

  </body>
</html>