{% extends "base.njk" %}

{% block content %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      document
        .getElementById("escribeme")
        .submit();
    }
  </script>

  <section class="site-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h1 class="site-contact-title">
            {{title}}
            <span>{{subtítulo}}</span>
          </h1>
        </div>
        <div class="col-lg-6 ml-auto">
          <div class="site-contact-form">
            <h4>{{formTitle}}</h4>
            <form id="escribeme" method="POST" action="https://formspree.io/f/mgvwbolw">
              <input name="subject" type="hidden" value="Message from Miramapas"/>
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="first-name" id="first-name" placeholder="Name">
                </div>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Last Name">
                </div>
                <div class="col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="col-lg-6">
                  <input type="tel" class="form-control" name="tel" id="tel" placeholder="Tel">
                </div>
              </div>
              <div class="col-12">
                <textarea class="form-control" name="mensaje" id="aboutProject" rows="6" placeholder="What do you have in mind?"></textarea>
              </div>
              <div class="col-12">

                <br/>
                <button data-callback='onSubmit' data-sitekey="6Le8QT8qAAAAAHxpzTTYLABjezuEEYE3pzIfBhRG" data-action='submit' type="submit" class="g-recaptcha btn btn-primary" formtarget="_blank">
                  <span class="btn-area">
                    <span data-text="{{btnText}}">
                      {{btnText}}
                    </span>
                  </span>
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block workTogether %}{% endblock %}