{% extends "base.njk" %}

{% block content %}

  <style>
    .retrato {

      background-image: url("/assets/images/{{yo.imagen}}");
    }

    .retrato:hover {
      background-image: url("/assets/images/{{yo.imagenHover}}");

    }
  </style>
  <section class="site-hero" id="inicio">
    <div class="container">
      <div class="row">
        <div class="col-lg mx-auto">
          <div class="site-hero-content text-center">
            <h6>{{hero.subTitle}}</h6>

            <div class="tituloFondo">
              <h1>
                {{hero.title.firstPara}}</h1>

              <h1>{{hero.title.secondPara}}
              </h1>
            </div>
            <ul class="site-hero-content-buttons">
              <li>
                <a href="{{hero.seeWorkBtn.link}}" class="btn btn-secondary scroll-to">
                  <span class="btn-area">
                    <span data-text="{{hero.seeWorkBtn.text}}">
                      {{hero.seeWorkBtn.text}}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/{{lang}}/{{hero.connectBtn.link}}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{hero.connectBtn.text}}">
                      {{hero.connectBtn.text}}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="#counter" class="site-hero-scroll scroll-to">
      <img src="/assets/images/arrow-down.svg" alt="arrow-down">
    </a>
  </section>

  {# <section class="site-counter" id="counter">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2 class="text-white">{{achieve.title}}</h2>
            </div>
          </div>
          {% for achievement in achieve.achievements %}
          <div class="col-lg-3 col-md-6">
            <div class="site-counter-item">
              <span class="site-counter-item-title">{{achievement.title}}</span>
              <h3 class="site-counter-item-number">{{achievement.counter}}+</h3>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section> #}

  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{portfolio.subTitle}}</h2>
            <p>{{portfolio.title}}</p>
          </div>
        </div>

        {% if lang == "es" %}
          {% set trabajos = collections.portafolios %}
        {% else %}
          {% set trabajos = collections.works %}
        {% endif %}

        {% for portfolio in trabajos | reverse %}
          {% if portfolio.data.lang == page.lang %}

            <div class="col-lg-6 col-md-10 mx-auto">
              <div class="site-project-item">
                <a href="{{portfolio.url}}" class="read-more">
                  <div class="site-project-item-thumb">
                    {% imagen portfolio.data.img,
                    "project-thumb",
                    "imagenSimple",
                    "" %}
                    {# <img src="/{{portfolio.data.img}}" alt="project-thumb"> #}
                  </div>

                  <div class="tituloFondo">
                    <h2>
                      {{portfolio.data.año}}</h2>
                    <h1>
                      {{portfolio.data.title}}

                    </h1>
                    <h2>

                      {{portfolio.data.subtítulo}}

                    </h2>

                  </div>
                </a>
              </div>
            </div>
          {% endif %}

        {% endfor %}
        {# <div class="col-12 text-center text-lg-left">
          <a href="/{{portfolio.seeAllbtn.link}}" class="site-project-cta">{{portfolio.seeAllbtn.text}}</a>
        </div> #}
      </div>
    </div>
  </section>

  <section class="site-about-header" id="yo">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="site-about-wrapper">
            <div class="site-about-company">
              <div class="retrato"/></div>
            {{yo.presentación | safe}}
          </div>
          <div class="site-about-description">
            <p>
              <span class="primeraOracion">{{yo.des | primeraOracion}}</span>
              <span class="restoDelTexto">{{yo.des | restoDelTexto}}</span>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{expertise.title}}</h2>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {% for expertIn in expertise.expertIn %}
            <li>{{expertIn}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}